<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<div class="container">
  <div class="row">
    <div>
      <div>
        <h2>Manage Sessions</h2>
      </div>
      <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">

        <div formArrayName="rooms">
          <div *ngFor="let room of myForm.controls.rooms.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
              <span>Room {{i + 1}}</span>

            </div>
            <div class="panel-body" [formGroupName]="i">
              <div class="form-group col-xs-6">

                <input type="text" class="form-control" formControlName="room">
              </div>
            </div>
          </div>
        </div>

        <div class="margin-20">
          <span>Add new room: </span>
          <span class="fas fa-plus-circle" (click)="addRoom()"></span>
        </div>
        <div *ngIf="myForm.controls.rooms.controls.length > 1" class="m-20">
          <span>Remove room:</span>
          <span class="fas fa-minus-circle"  (click)="removeRoom(i)"></span>
        </div>


        <div class="margin-20">
          <button type="submit" class="btn btn-primary pull-right">Submit</button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>



<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>